name: Deploy to EKS

on:
  workflow_run:
    workflows: ["Build and Push Image"]
    types: [completed]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  EKS_CLUSTER_NAME: ai-agent-cluster
  K8S_NAMESPACE: ai-agent

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::557514745876:role/github-actions-ecr-role
          aws-region: us-east-1

      - name: Install kubectl
        run: |
          curl -LO https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name ai-agent-cluster

      - name: Deploy
        run: |
          kubectl apply -f k8s/
